*{
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
.gothic{
  font-family: "Gothic A1", serif;
}
@font-face {
  font-family: 'TestUntitledSansBlack';
  src: url('./fonts/test-untitled-sans-black.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GothamHTFBook' ;
  src: url('./fonts/gothamhtf-lightcondensed.otf') format('opentype');
  /* font-weight: 300;
  font-style: normal; */
}

.gotham{
  font-family: "GothamHTFBook";
}
.untitled {
  font-family: 'TestUntitledSansBlack';
}
.decrese_space{
  letter-spacing: -0.03em; 
}
.navmenu{
  font-weight: 500 ;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.custom_select .ant-select-selection-item{
  margin-top: 4px;
  font-weight: 600 !important;
  font-size: 12px;
}
.custom_select .ant-select-arrow{
  color: black ;
  font-size: 15px;
}
.custom_select .ant-select-selector{
  border-radius: 0px !important;
}